.user-container__user{
    padding: 1rem;
    box-shadow: 0 0 2px 0 grey;
    border-radius: 5px;
    background: rgb(34,193,195);
    background: linear-gradient(37deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    width: 175px;
    height: 175px;
    margin: 0 auto;
}

.user-container__img{
    display: flex;
    justify-content: center;
}

#user-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
}

.user-container__data{
    margin-top: 0.5rem;
    text-align: center;
    line-height: 1.5;
    color: white;
}

#user-container__email{
    cursor: pointer;
}